@page "/EditStationRegistration"
@using SeaEco.Abstractions.Models.Project
@using SeaEco.EntityFramework.Entities

<h4>Stasjonsredigering</h4>

<div id="div1" class="content-div active">
    <div class="position-depth-container">
        <div class="form-floating mb-3">
            <InputNumber id="position_n" class="form-control" @bind-Value="_positionAndDepth.Kordinatern" placeholder="N" />
            <label for="position_n">Posisjon nord</label>
        </div>

        <div class="form-floating mb-3">
            <InputNumber id="position_o" class="form-control" @bind-Value="_positionAndDepth.Kordinatero" placeholder="O" />
            <label for="position_o">Posisjon øst</label>
        </div>

        <div class="form-floating mb-3">
            <InputNumber id="depth" class="form-control" @bind-Value="_positionAndDepth.Dybde" placeholder="M" />
            <label for="depth">Dybde</label>
        </div>
        
        <div class="position-depth-button-container">
            <button class="btn btn-outline-primary clear-data @(_positionAndDepth.Dybde == 0 ? "active" : "")"
                    @onclick="() => ClearPositionAndDepth(0)">
                Annen posisjon og dybde
            </button>
        </div>
    </div>
    
    <div class="sampler-container">
        <div class="form-floating mb-3">
            @* TODO: Remember to bind value *@
            <InputSelect id="sampler-1" class="form-select" @bind-Value="_user1.Id">
                <option value="" disabled>Velg prøvetaker</option>
                <option value="">Rikke</option>
                <option value="">Sara</option>
                <option value="">Tor</option>
            </InputSelect>
            <label for="sampler-1">Prøvetaker nr 1</label>
        </div>

        <div class="form-floating mb-3">
            @* TODO: Remember to bind value *@
            <InputSelect id="sampler-2" class="form-select" @bind-Value="_user2.Id">
                <option value="" disabled>Velg prøvetaker</option>
                <option value="">Ingen</option>
                <option value="">Rikke</option>
                <option value="">Sara</option>
                <option value="">Tor</option>
            </InputSelect>
            <label for="sampler-2">Prøvetaker nr 2</label>
        </div>
    </div>

    <div class="equipment-container">
        <div class="form-floating mb-3">
            <InputNumber id="equip-1" class="form-control" @bind-Value="_equip.Grabbid" placeholder="Grabbhugg" />
            <label for="equip-1">Antall grabbhugg</label>
        </div>

        @* TODO: Remember to bind *@
        <div class="checkbox-3-container">
            <label class="custom-checkbox" for="equip-2">
                <span class="custom-label">Gokjent grabbhastighet</span>
                <input id="equip-2" type="checkbox">
                <span class="custom-checkmark"></span>
            </label>
        </div>
    </div>
</div>

<div id="div2" class="content-div">
    <div class="typeRadio-container">
        <h5>Bunntype: </h5>

        @* TODO: Remember to bind and bind-value *@
        <div class="cntr">
            <input type="radio" name="bunntype" id="cbx1" class="hidden-xs-up">
            <label for="cbx1" class="cbx"></label>
            <label for="cbx1" class="lbl">Bløt</label>
        </div>

        @* TODO: Remember to bind and bind-value *@
        <div class="cntr">
            <input type="radio" name="bunntype" id="cbx2" class="hidden-xs-up">
            <label for="cbx2" class="cbx"></label>
            <label for="cbx2" class="lbl">Hard</label>
        </div>
    </div>

    <div id="sensoryRadio" class="sensoryRadio-container">
        <h5>Er sensorisk utført?</h5>

        @* TODO: Remember to bind and bind-value *@
        <div class="cntr">
            <input type="radio" name="sensorisk" id="cbx3" class="hidden-xs-up">
            <label for="cbx3" class="cbx"></label>
            <label for="cbx3" class="lbl">Ja</label>
        </div>

        @* TODO: Remember to bind and bind-value *@
        <div class="cntr">
            <input type="radio" name="sensorisk" id="cbx4" class="hidden-xs-up">
            <label for="cbx4" class="cbx"></label>
            <label for="cbx4" class="lbl">Nei</label>
        </div>
    </div>

    <div id="sensoryInfo" class="sensoryInfo-container">
        <EditForm Model="_sensoryDto" OnValidSubmit="HandleSubmit">
            <DataAnnotationsValidator />
            <div class="sensoryData">
                <div class="form-floating mb-3" id="sensoryDataSoft_1">
                    <InputNumber id="ProvePh" class="form-control" @bind-Value="_sensoryDto.ProvePh" placeholder="pH" />
                    <label for="ProvePh">pH</label>
                </div>

                <div class="form-floating mb-3" id="sensoryDataSoft_2">
                    <InputNumber id="ProveEh" class="form-control" @bind-Value="_sensoryDto.ProveEh" placeholder="Eh" />
                    <label for="ProveEh">EH</label>
                </div>

                <div class="form-floating mb-3" id="sensoryDataSoft_3">
                    <InputNumber id="ProveTemp" class="form-control" @bind-Value="_sensoryDto.ProveTemp" placeholder="Temp" />
                    <label for="ProveTemp">Temp</label>
                </div>

                <div class="form-floating mb-3">
                    <InputSelect id="Farge" class="form-select" @bind-Value="_sensoryDto.Farge">
                        <option value="" disabled>Velg farge</option>
                        <option value="0">Lys grå</option>
                        <option value="2">Brunn/svart</option>
                    </InputSelect>
                    <label for="Farge">Farge</label>
                </div>

                <div class="form-floating mb-3">
                    <InputSelect id="Lukt" class="form-select" @bind-Value="_sensoryDto.Lukt">
                        <option value="" disabled>Velg lukt</option>
                        <option value="0">Ingen</option>
                        <option value="2">Noe</option>
                        <option value="4">Sterk</option>
                    </InputSelect>
                    <label for="Lukt">Lukt</label>
                </div>

                <div class="form-floating mb-3">
                    <InputSelect id="Konsistens" class="form-select" @bind-Value="_sensoryDto.Konsistens">
                        <option value="" disabled>Velg konsistens</option>
                        <option value="0">Fast</option>
                        <option value="2">Myk</option>
                        <option value="4">Løs</option>
                    </InputSelect>
                    <label for="Konsistens">Konsistens</label>
                </div>

                <div class="form-floating mb-3">
                    <InputSelect id="GrabbVolum" class="form-select" @bind-Value="_sensoryDto.Grabbvolum">
                        <option value="" disabled>Velg grabbvolum</option>
                        <option value="0">0 - 1/4</option>
                        <option value="1">1/4 - 3/4</option>
                        <option value="2">Mer enn 3/4</option>
                    </InputSelect>
                    <label for="GrabbVolum">GrabbVolum</label>
                </div>

                <div class="form-floating mb-3">
                    <InputSelect id="Tykkelse" class="form-select" @bind-Value="_sensoryDto.Tykkelseslamlag">
                        <option value="" disabled>Velg tykkelseslamlag</option>
                        <option value="0">0 - 2cm</option>
                        <option value="1">2 - 8cm</option>
                        <option value="2">Mer enn 8cm</option>
                    </InputSelect>
                    <label for="Tykkelse">Tykkelse</label>
                </div>

                <div class="form-floating mb-3">
                    <InputSelect id="Gassbobler" class="form-select" @bind-Value="_sensoryDto.Gassbobler">
                        <option value="" disabled>Velg av gassbobler</option>
                        <option value="4">Ja</option>
                        <option value="0">Nei</option>
                    </InputSelect>
                    <label for="Gassbobler">Gassbobler</label>
                </div>
            </div>
        </EditForm>
    </div>

    <div class="sedimentType-container" id="sedimentType">
        <div class="hardSediment-container" id="hardSediment">
            <h5>Bunntype:</h5>
            
            <div class="checkbox-container">
                <label><input type="checkbox" @bind="_sediment.Steinbunn"/> Steinbunn</label>
                <label><input type="checkbox" @bind="_sediment.Fjellbunn"/> Fjellbunn</label>
            </div>
        </div>

        <div class="softSediment-container" id="softSediment">
            <h5>Sedimenttype:</h5>
            
            <div class="checkbox-container">
                <label><input type="checkbox" @bind="_sediment.Sand"/> Sand</label>
                <label><input type="checkbox" @bind="_sediment.Leire"/> Leire</label>
                <label><input type="checkbox" @bind="_sediment.Silt"/> Silt</label>
                <label><input type="checkbox" @bind="_sediment.Grus"/> Grus</label>
                <label><input type="checkbox" @bind="_sediment.Skjellsand"/> Skjellsand</label>
            </div>
        </div>
    </div>
    
    <div class="picture-container">
        <button class="picture-button" style="vertical-align:middle"><span>+ Usilt</span></button>

        @* TODO: Remember to bind *@
        <div class="tom-grabb-container" id="tomGrabb_1">
            <label class="custom-checkbox" for="tom-grabb-1">
                <span class="custom-label">Tom grabb</span>
                <input id="tom-grabb-1" type="checkbox">
                <span class="custom-checkmark"></span>
            </label>
        </div>
    </div>
</div>

<div id="div3" class="content-div">
    <div class="picture-container">
        <button class="picture-button" style="vertical-align:middle"><span>+ Silt</span></button>

        @* TODO: Remember to bind *@
        <div class="tom-grabb-container" id="tomGrabb_2">
            <label class="custom-checkbox" for="tom-grabb-2">
                <span class="custom-label">Tom grabb</span>
                <input id="tom-grabb-2" type="checkbox">
                <span class="custom-checkmark"></span>
            </label>
        </div>
    </div>

    <div class="checkbox-1-container">
        <label class="custom-checkbox" for="beggiota">
            <span class="custom-label">Beggiota</span>
            <input type="checkbox" id="beggiota" @bind="_dyr.Beggiota" />
            <span class="custom-checkmark"></span>
        </label>

        <label class="custom-checkbox" for="forrester">
            <span class="custom-label">Forrester</span>
            <input type="checkbox" id="forrester" @bind="_dyr.Foor" />
            <span class="custom-checkmark"></span>
        </label>

        <label class="custom-checkbox" for="fekalier">
            <span class="custom-label">Fekalier</span>
            <input type="checkbox" id="fekalier" @bind="_dyr.Fekalier" />
            <span class="custom-checkmark"></span>
        </label>
    </div>

    <div class="animalRadio-container">
        <h5>Dyr: </h5>

        @* TODO: Remember to bind and bind-value *@
        <div class="cntr">
            <input type="radio" name="dyr" id="cbx5" class="hidden-xs-up">
            <label for="cbx5" class="cbx"></label>
            <label for="cbx5" class="lbl">Ja</label>
        </div>

        @* TODO: Remember to bind and bind-value *@
        <div class="cntr">
            <input type="radio" name="dyr" id="cbx6" class="hidden-xs-up">
            <label for="cbx6" class="cbx"></label>
            <label for="cbx6" class="lbl">Nei</label>
        </div>
    </div>
    
    <div id="animalInfo" class="animalInfo-container">
        <div class="animalData">
            <div class="form-floating mb-3">
                <InputNumber id="pigghuder" class="form-control" @bind-Value="_dyr.Antallpigghunder" placeholder="Pigghuder"/>
                <label for="pigghuder">Pigghuder</label>
            </div>
            <div class="btn-group mb-3" role="group">
                <button class="btn btn-outline-primary @(_dyr.Antallpigghunder == 31 ? "active" : "")" 
                        @onclick="() => SetPigghunder(31)">
                    30+
                </button>
                <button class="btn btn-outline-primary @(_dyr.Antallpigghunder == 51 ? "active" : "")" 
                        @onclick="() => SetPigghunder(51)">
                    50+
                </button>
            </div>

            <div class="form-floating mb-3">
                <InputNumber id="krepsdyr" class="form-control" @bind-Value="_dyr.Antallkrepsdyr" placeholder="Krepsdyr"/>
                <label for="krepsdyr">Krepsdyr</label>
            </div>
            <div class="btn-group mb-3" role="group">
                <button class="btn btn-outline-primary @(_dyr.Antallkrepsdyr == 31 ? "active" : "")"
                        @onclick="() => SetKrepsdyr(31)">
                    30+
                </button>
                <button class="btn btn-outline-primary @(_dyr.Antallkrepsdyr == 51 ? "active" : "")"
                        @onclick="() => SetKrepsdyr(51)">
                    50+
                </button>
            </div>

            <div class="form-floating mb-3">
                <InputNumber id="skjell" class="form-control" @bind-Value="_dyr.Antallskjell" placeholder="Skjell"/>
                <label for="skjell">Skjell</label>
            </div>
            <div class="btn-group mb-3" role="group">
                <button class="btn btn-outline-primary @(_dyr.Antallskjell == 31 ? "active" : "")"
                        @onclick="() => SetSkjell(31)">
                    30+
                </button>
                <button class="btn btn-outline-primary @(_dyr.Antallskjell == 51 ? "active" : "")"
                        @onclick="() => SetSkjell(51)">
                    50+
                </button>
            </div>

            <div class="form-floating mb-3">
                <InputNumber id="borstemark" class="form-control" @bind-Value="_dyr.Antallborstemark" placeholder="Børstemark"/>
                <label for="borstemark">Børstemark</label>
            </div>
            <div class="btn-group mb-3" role="group">
                <button class="btn btn-outline-primary @(_dyr.Antallborstemark == 31 ? "active" : "")"
                        @onclick="() => SetBorstemark(31)">
                    30+
                </button>
                <button class="btn btn-outline-primary @(_dyr.Antallborstemark == 51 ? "active" : "")"
                        @onclick="() => SetBorstemark(51)">
                    50+
                </button>
            </div>
        </div>
    </div>

    @* Arter *@
    <div class="form-floating mb-3 user-input" id="arter-container">
        <InputText class="form-control" id="arter" placeholder="Arter" @bind-Value="_arter.Kommentar"></InputText>
        <label for="arter">Arter</label>
    </div>
    @* Arter *@
    
    <div class="form-floating mb-3 user-input">
        <InputText class="form-control" id="message" placeholder="Merknader" @bind-Value="_merknadDto.Beskrivelse"></InputText>
        <label for="message">Merknader</label>
    </div>

    <div class="checkbox-2-container">
        <label class="custom-checkbox" for="detritus">
            <span class="custom-label">D</span>
            <input type="checkbox" id="detritus" @bind="_merknadDto.Detritus" />
            <span class="custom-checkmark"></span>
        </label>

        <label class="custom-checkbox" for="terrestrisk">
            <span class="custom-label">TM</span>
            <input type="checkbox" id="terrestrisk" @bind="_merknadDto.TerrestriskMateriale" />
            <span class="custom-checkmark"></span>
        </label>

        <label class="custom-checkbox" for="anleggsrens">
            <span class="custom-label">RAR</span>
            <input type="checkbox" id="anleggsrens" @bind="_merknadDto.ResterEtterAnleggsrens" />
            <span class="custom-checkmark"></span>
        </label>
    </div>
</div>

<div class="button-container">
    <button id="lastBtn" onclick="showLast()" class="custom-btn">Forrige</button>
    <button id="nextBtn" onclick="showNext()" class="custom-btn">Neste</button>
    <button id="submitBtn" class="custom-btn" style="display: none;" @onclick="HandleSubmit">Lagre</button>
</div>


@* Last and next button script *@
<script>
    let currentIndex = 1;
    const totalDivs = 3;

    function showDiv(index) {
        for (let i = 1; i <= totalDivs; i++) {
            document.getElementById('div' + i).classList.remove('active');
        }
        document.getElementById('div' + index).classList.add('active');
        updateButtons();
    }

    function showLast() {
        if (currentIndex > 1) {
            currentIndex--;
            showDiv(currentIndex);
        }
    }

    function showNext() {
        if (currentIndex < totalDivs) {
            currentIndex++;
            showDiv(currentIndex);
        }
    }

    function updateButtons() {
        const lastBtn = document.getElementById('lastBtn');
        const nextBtn = document.getElementById('nextBtn');
        const submitBtn = document.getElementById('submitBtn');

        lastBtn.style.display = currentIndex === 1 ? 'none' : 'inline-block';
        nextBtn.style.display = currentIndex === totalDivs ? 'none' : 'inline-block';
        submitBtn.style.display = currentIndex === totalDivs ? 'inline-block' : 'none';
    }

    updateButtons();

</script>

<script>
    const radioSoft = document.getElementById("cbx1");
    const radioHard = document.getElementById("cbx2");
    const sensoryQuestion = document.getElementById("sensoryRadio");
    
    const radioYes = document.getElementById("cbx3");
    const radioNo = document.getElementById("cbx4");
    const sensoryInfo = document.getElementById("sensoryInfo");
    
    const sedimentType = document.getElementById("sedimentType");
    const hardSediment = document.getElementById("hardSediment");
    const softSediment = document.getElementById("softSediment");
    
    const tomGrabb_1 = document.getElementById("tomGrabb_1");
    const tomGrabb_2 = document.getElementById("tomGrabb_2");
    
    const animalYes = document.getElementById("cbx5");
    const animalNo = document.getElementById("cbx6");
    const animalInfo = document.getElementById("animalInfo");
    const arterContainer = document.getElementById("arter-container")
    
    function updateDisplay() {
        if (radioHard.checked) {
            sensoryQuestion.style.display = "flex";

            sedimentType.style.display = "flex";
            hardSediment.style.display = "flex";
            softSediment.style.display = "none";
            
            tomGrabb_1.style.display = "flex";
            tomGrabb_2.style.display = "flex";
            
            if (radioYes.checked) {
                sensoryInfo.style.display = "flex";

                document.getElementById("ProvePh").disabled = true;
                document.getElementById("ProveEh").disabled = true;
                document.getElementById("ProveTemp").disabled = true;
                sensoryDataSoft_1.style.opacity = "0.5";
                sensoryDataSoft_2.style.opacity = "0.5";
                sensoryDataSoft_3.style.opacity = "0.5";
            }
            else {
                sensoryInfo.style.display = "none";
            }
        }
        else if (radioSoft.checked) {
            sensoryQuestion.style.display = "none";
            sensoryInfo.style.display = "flex";

            sedimentType.style.display = "flex";
            softSediment.style.display = "flex";
            hardSediment.style.display = "none";

            document.getElementById("ProvePh").disabled = false;
            document.getElementById("ProveEh").disabled = false;
            document.getElementById("ProveTemp").disabled = false;
            sensoryDataSoft_1.style.opacity = "1";
            sensoryDataSoft_2.style.opacity = "1";
            sensoryDataSoft_3.style.opacity = "1";

            tomGrabb_1.style.display = "none";
            tomGrabb_2.style.display = "none";
        }
        else {
            sensoryQuestion.style.display = "none";
            sensoryInfo.style.display = "none";
        }
    }
    
    function updateDisplay_2() {
        if (animalYes.checked) {
            animalInfo.style.display = "flex";
            arterContainer.style.display = "flex";
        }
        else {
            animalInfo.style.display = "none";
            arterContainer.style.display = "none";
        }
    }
    
    radioSoft.addEventListener("change", updateDisplay);
    radioHard.addEventListener("change", updateDisplay);
    radioYes.addEventListener("change", updateDisplay);
    radioNo.addEventListener("change", updateDisplay);

    animalYes.addEventListener("change", updateDisplay_2);
    animalNo.addEventListener("change", updateDisplay_2);
    
    updateDisplay();
    updateDisplay_2();
</script>

@code {
    private BSensoryDto _sensoryDto = new();

    private BSedimentTypeDto _sediment = new();

    private static BDyr _dyr = new();

    private void SetPigghunder(int value)
    {
        _dyr.Antallpigghunder = value;
    }

    private void SetKrepsdyr(int value)
    {
        _dyr.Antallkrepsdyr = value;
    }

    private void SetSkjell(int value)
    {
        _dyr.Antallskjell = value;
    }

    private void SetBorstemark(int value)
    {
        _dyr.Antallborstemark = value;
    }

    private BMerknadDto _merknadDto = new();

    private BArterDto _arter = new();

    private BPositionAndDepthDto _positionAndDepth = new();

    private Bruker _user1 = new();

    private Bruker _user2 = new();

    private BEquipDto _equip = new();

    private void ClearPositionAndDepth(int value)
    {
        if (value != 0) return;
        _positionAndDepth.Kordinatern = 0;
        _positionAndDepth.Kordinatero = 0;
        _positionAndDepth.Dybde = value;
    }

    private void HandleSubmit()
    {
        Console.WriteLine("");
    }
}
