@page "/project/{prosjektId:guid}"
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]
@using SeaEco.Client.Resources
@using SeaEco.Abstractions.Models.Project
@using SeaEco.Client.Components
@inject HttpClient Http
@inject IJSRuntime Js

@if (project == null)
{
}
else
{
    <div class="d-flex flex-column align-items-center gap-3">
        <div class="mb-3">
            <h3>@Resources.PageProjectProject @prosjektId</h3>
            <p>- @project.Status</p>
        </div>

        <div class="d-flex w-100">
            <button class="btn btn-outline-secondary align-self-start filter-button" type="button"
                    data-bs-toggle="collapse" data-bs-target="#collapseProjectInfo" aria-expanded="false" aria-controls="collapseProjectInfo">
                @Resources.ButtonProjectInfoView
            </button>
            <div class="flex-grow-1"></div>
            <button class="btn btn-outline-secondary align-self-end" type="button">
                @Resources.ButtonProjectLog
            </button>
        </div>


        <div class="collapse card-container w-100" id="collapseProjectInfo">
            <div class="card card-body">
                <div class="d-flex flex-xxl-row flex-column gap-3 ">
                    <div class="d-flex flex-column gap-4">
                        <div class="form-floating">
                            <InputText class="form-control" id="location" @bind-Value="project.Lokalitet" @key="numberInputKey"  disabled="@(!_editProjectInfo)"/>
                            <label for="location">@Resources.InputTextLocation</label>
                        </div>
                        <div class="form-floating">
                            <InputNumber class="form-control" id="locationId" @bind-Value="project.Lokalitetid" @key="numberInputKey"  disabled="@(!_editProjectInfo)"/>
                            <label for="locationId">@Resources.InputTextLocationId</label>
                        </div>
                        <div class="d-flex form-floating">
                            <InputDate class="form-control" id="planedDate" @bind-Value="project.Planlagtfeltdato" @key="numberInputKey"  disabled="@(!_editProjectInfo)"/>
                            <label for="planedDate">@Resources.InputTextPlanedDate</label>
                        </div>
                    </div>
                    <div class="d-flex flex-column gap-4">
                        <div class="d-flex form-floating">
                            <InputNumber class="form-control" id="numberOfStations" @bind-Value="project.Antallstasjoner" @key="numberInputKey"  disabled="@(!_editProjectInfo)"/>
                            <label for="numberOfStations">@Resources.InputTextNumberOfStations</label>
                        </div>
                        <div class="d-flex form-floating">
                            <InputNumber class="form-control" id="mtb" @bind-Value="project.Mtbtillatelse" @key="numberInputKey"  disabled="@(!_editProjectInfo)"/>
                            <label for="mtb">@Resources.InputTextMtb</label>
                        </div>
                    </div>
                    <div class="d-flex flex-column gap-4">
                        <div class="d-flex form-floating">
                            <InputTextArea class="form-control" id="comment" @bind-Value="project.Merknad" @key="numberInputKey" style="height: 140px" disabled="@(!_editProjectInfo)"></InputTextArea>
                            <label for="comment">@Resources.InputTextComment</label>
                        </div>
                    </div>
                    <div class="flex-grow-1"></div>
                    <div class="d-flex flex-xxl-column flex-row align-self-end">
                        @if (!_editProjectInfo)
                        {
                            <button class="btn btn-outline-secondary filter-button" type="button" @onclick="OnClickProjectInformation">
                                @Resources.ButtonEdit
                            </button>
                        }
                        else
                        {
                            <div class="d-flex gap-2">
                                <button class="btn btn-outline-secondary filter-button" type="button" @onclick="CancelEditProjectInformation">
                                    @Resources.ButtonCancel
                                </button>
                                <button class="btn btn-outline-secondary filter-button" type="button" @onclick="EditProjectInformation">
                                    @Resources.ButtonSave
                                </button>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>

        @if (_editProjectInfo)
        {
            <div class="background-overlay"></div>
        }


        <ul class="nav nav-tabs d-flex w-100 mt-3" id="myTab" role="tablist">
            <li class="nav-item flex-fill" role="presentation">
                <a class="nav-link text-center @(_activeTab == "projectPlan" ? "active" : "")"  @onclick=@(() => SelectedTab("projectPlan"))>
                @Resources.TabProjectPlan
                </a>
            </li>
            <li class="nav-item flex-fill" role="presentation">
                <a class="nav-link text-center @(_activeTab == "b_stations" ? "active" : "")" @onclick=@(() => SelectedTabWithModal("b_stations") )>
                    @Resources.TabBStation
                </a>
            </li>
            <li class="nav-item flex-fill" role="presentation">
                <a class="nav-link text-center @(_activeTab == "projectReport" ? "active" : "")" @onclick=@(() => SelectedTabWithModal("projectReport"))>
                    @Resources.TabProjectReport
                </a>
            </li>
        </ul>


        
        
        @if (_activeTab=="projectPlan")
        {
             <ProjectPlan Project="projectCopy" EditProjectPlanVar="_editProjectPlan" EditProjectPlanChanged="@OnEditChanged"></ProjectPlan> 
        }
        else if (_activeTab == "b_stations")
        {
            <B_stations></B_stations>
        }
        else if (_activeTab=="projectReport")
        {
            <Report></Report>
        }


        <div class="modal fade" id="EditPlanMode" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content ">
                    <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>Du holder p책 책 redigere plan. Du m책 enten lagre plan eller avbryte plan for 책 bytte fane.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">OK</button>
                    </div>
                </div>
            </div>
        </div>

            </div>

}


@code {
    [Parameter] public Guid prosjektId { get; set; }

    private ProjectDto project;
    private ProjectDto projectCopy;
    private bool _editProjectInfo;
    private int numberInputKey = 0;
    private string _activeTab = "projectPlan";
    private bool _editProjectPlan;


    protected override async Task OnInitializedAsync()
    {
        project = await Http.GetFromJsonAsync<ProjectDto>($"api/Project/{prosjektId:D}");

        projectCopy = BackupProject(project);
    }

    private void OnClickProjectInformation()
    {
        _editProjectInfo = true;

    }

    private void EditProjectInformation()
    {
        //_editProjectInfo = false;
    }

    private void CancelEditProjectInformation()
    {
        project = BackupProject(projectCopy);
        numberInputKey++;
        _editProjectInfo = false;
    }

    private void SelectedTab(string tab)
    {
        _activeTab = tab;
    }

    private ProjectDto BackupProject(ProjectDto source)
    {
        return new ProjectDto
        {
            ProsjektId = source.ProsjektId,
            Lokalitet = source.Lokalitet,
            Lokalitetid = source.Lokalitetid,
            Planlagtfeltdato = source.Planlagtfeltdato,
            Antallstasjoner = source.Antallstasjoner,
            Mtbtillatelse = source.Mtbtillatelse,
            Merknad = source.Merknad
        };
    }


    private async Task SelectedTabWithModal(string tab)
    {
        if (_editProjectPlan)
        {
            await Js.InvokeVoidAsync("showModal", "#EditPlanMode");
        }
        else
        {
            SelectedTab(tab);
        }

    }

    private void OnEditChanged(bool value)
    {
        _editProjectPlan = value;
        StateHasChanged();
    }


}