@* if testing, comment out this line *@
@page "/project/{ProjectId:guid}/station/{StationId:guid}/survey/{SurveyId:guid}"

@using Microsoft.AspNetCore.Authorization
@using SeaEco.Abstractions.Enums.Bsensorisk
@using SeaEco.Abstractions.Extensions
@using SeaEco.Abstractions.Models.BSurvey
@inject HttpClient Http
@attribute [Authorize]
@inject NavigationManager Navigation
@inject IJSRuntime Js


<div id="div1" class="content-div">
    @if (_survey?.BStation != null)
    {
        <div class="position-depth-container">
            <div class="form-floating mb-3">
                <input id="position_n" class="form-control" value="@_survey.BStation.KoordinatNord" />
                <label for="position_n">Posisjon nord</label>
            </div>

            <div class="form-floating mb-3">
                <input id="position_o" class="form-control" value="@_survey.BStation.KoordinatOst" />
                <label for="position_o">Posisjon øst</label>
            </div>

            <div class="form-floating mb-3">
                <input id="depth" class="form-control" value="@_survey.BStation.Dybde" />
                <label for="depth">Dybde</label>
            </div>
        </div>
    }

    <div class="equipment-container">
        <div class="form-floating mb-3">
            <input class="form-control" id="equip-1" value="@(_survey?.AntallGrabbhugg?.ToString() ?? "Ingen")" />
            <label for="equip-1">Antall grabbhugg</label>
        </div>

        <div class="checkbox-3-container">
            <label class="custom-checkbox" for="equip-2">
                <span class="custom-label">Gokjent grabbhastighet</span>
                <input id="equip-2" type="checkbox" checked="@_survey?.GrabbhastighetGodkjent" />
                <span class="custom-checkmark"></span>
            </label>
        </div>
    </div>
</div>

<div id="div2" class="content-div">
    <div class="typeRadio-container">
        <h5>Bunntype: </h5>

        <div class="cntr">
            <input type="radio" name="bunntype" id="cbx1" value="blot"
                   checked="@("blot" == _selectedBunnType)" class="hidden-xs-up" />
            <label for="cbx1" class="cbx"></label>
            <label for="cbx1" class="lbl">Bløt</label>
        </div>

        <div class="cntr">
            <input type="radio" name="bunntype" id="cbx2" value="hard"
                   checked="@("hard" == _selectedBunnType)" class="hidden-xs-up" />
            <label for="cbx2" class="cbx"></label>
            <label for="cbx2" class="lbl">Hard</label>
        </div>
    </div>

    <div id="sensoryRadio" class="sensoryRadio-container">
        <h5>Er sensorisk utført?</h5>

        <div class="cntr">
            <input type="radio" name="sensorisk" id="cbx3" class="hidden-xs-up"
                   value="ja" checked="@("ja" == _selectedSensorisk)" />
            <label for="cbx3" class="cbx"></label>
            <label for="cbx3" class="lbl">Ja</label>
        </div>

        <div class="cntr">
            <input type="radio" name="sensorisk" id="cbx4" class="hidden-xs-up"
                   value="nei" checked="@("nei" == _selectedSensorisk)" />
            <label for="cbx4" class="cbx"></label>
            <label for="cbx4" class="lbl">Nei</label>
        </div>
    </div>

    <div id="sensoryInfo" class="sensoryInfo-container">
        <div class="sensoryData">
            @if (_survey?.BSediment != null)
            {
                <div class="form-floating mb-3" id="sensoryDataSoft_1">
                    <input id="ProvePh" class="form-control" value="@_survey.BSediment.Ph" />
                    <label for="ProvePh">pH</label>
                </div>

                <div class="form-floating mb-3" id="sensoryDataSoft_2">
                    <input id="ProveEh" class="form-control" value="@_survey.BSediment.Eh" />
                    <label for="ProveEh">EH</label>
                </div>

                <div class="form-floating mb-3" id="sensoryDataSoft_3">
                    <input id="ProveTemp" class="form-control" value="@_survey.BSediment.Temperatur" />
                    <label for="ProveTemp">Temp</label>
                </div>
            }
            
            @if (_survey?.BSensorisk != null)
            {
                <div class="form-floating mb-3">
                    <input class="form-control" id="Farge"
                           value="@(_survey.BSensorisk.Farge.ToEnumDescription<Farge>())" />
                    <label for="Farge">Farge</label>
                </div>

                <div class="form-floating mb-3">
                    <input class="form-control" id="Lukt"
                           value="@(_survey.BSensorisk.Lukt.ToEnumDescription<Lukt>())" />
                    <label for="Lukt">Lukt</label>
                </div>

                <div class="form-floating mb-3">
                    <input class="form-control" id="Konsistens"
                           value="@(_survey.BSensorisk.Konsistens.ToEnumDescription<Konsistens>())" />
                    <label for="Konsistens">Konsistens</label>
                </div>

                <div class="form-floating mb-3">
                    <input class="form-control" id="GrabbVolum"
                           value="@(_survey.BSensorisk.Grabbvolum.ToEnumDescription<Grabbvolum>())" />
                    <label for="GrabbVolum">GrabbVolum</label>
                </div>

                <div class="form-floating mb-3">
                    <input class="form-control" id="Tykkelse"
                           value="@(_survey.BSensorisk.Tykkelseslamlag.ToEnumDescription<Tykkelseslamlag>())" />
                    <label for="Tykkelse">Tykkelse</label>
                </div>

                <div class="form-floating mb-3">
                    <input class="form-control" id="Gassbobler"
                           value="@(_survey.BSensorisk.Gassbobler.ToEnumDescription<Gassbobler>())" />
                    <label for="Gassbobler">Gassbobler</label>
                </div>
            }
        </div>
    </div>

    <div class="sedimentType-container" id="sedimentType">
        @if (_survey?.BHardBase != null)
        {
            <div class="hardSediment-container" id="hardSediment">
                <h5>Bunntype:</h5>

                <div class="checkbox-container">
                    <label>
                        <input type="checkbox" checked="@(_survey.BHardBase.Steinbunn != 0)" />
                        Steinbunn
                    </label>
                    <label>
                        <input type="checkbox" checked="@(_survey.BHardBase.Fjellbunn != 0)" />
                        Fjellbunn
                    </label>
                </div>
            </div>
        }

        @if (_survey?.BSoftBase != null)
        {
            <div class="softSediment-container" id="softSediment">
                <h5>Sedimenttype:</h5>

                <div class="checkbox-container">
                    <label>
                        <input type="checkbox" checked="@(_survey.BSoftBase.Sand != 0)" /> Sand
                    </label>
                    <label>
                        <input type="checkbox" checked="@(_survey.BSoftBase.Leire != 0)" /> Leire
                    </label>
                    <label>
                        <input type="checkbox" checked="@(_survey.BSoftBase.Silt != 0)" /> Silt
                    </label>
                    <label>
                        <input type="checkbox" checked="@(_survey.BSoftBase.Grus != 0)" /> Grus
                    </label>
                    <label>
                        <input type="checkbox" checked="@(_survey.BSoftBase.Skjellsand != 0)" /> Skjellsand
                    </label>
                </div>
            </div>
        }
    </div>
    
    @* TODO: Picture usilt and tom grabb container *@
    @* <div class="picture-container"> *@
    @*     <button class="picture-button" style="vertical-align:middle"><span>Usilt</span></button> *@
    @* *@
    @*     <div class="tom-grabb-container" id="tomGrabb_1"> *@
    @*         <label class="custom-checkbox" for="tom-grabb-1"> *@
    @*             <span class="custom-label">Tom grabb</span> *@
    @*             <input id="tom-grabb-1" type="checkbox"> *@
    @*             <span class="custom-checkmark"></span> *@
    @*         </label> *@
    @*     </div> *@
    @* </div> *@
</div>

<div id="div3" class="content-div">
    @* TODO: Picture silt and tom grabb container *@
    @* <div class="picture-container"> *@
    @*     <button class="picture-button" style="vertical-align:middle"><span>Silt</span></button> *@
    @* *@
    @*     <div class="tom-grabb-container" id="tomGrabb_2"> *@
    @*         <label class="custom-checkbox" for="tom-grabb-2"> *@
    @*             <span class="custom-label">Tom grabb</span> *@
    @*             <input id="tom-grabb-2" type="checkbox"> *@
    @*             <span class="custom-checkmark"></span> *@
    @*         </label> *@
    @*     </div> *@
    @* </div> *@

    <div class="checkbox-1-container">
        <label class="custom-checkbox" for="beggiatoa">
            <span class="custom-label">Beggiatoa</span>
            <input type="checkbox" id="beggiatoa" checked="@_survey?.Beggiatoa" />
            <span class="custom-checkmark"></span>
        </label>

        <label class="custom-checkbox" for="forrester">
            <span class="custom-label">Forrester</span>
            <input type="checkbox" id="forrester" checked="@_survey?.Forrester" />
            <span class="custom-checkmark"></span>
        </label>

        <label class="custom-checkbox" for="fekalier">
            <span class="custom-label">Fekalier</span>
            <input type="checkbox" id="fekalier" checked="@_survey?.Fekalier" />
            <span class="custom-checkmark"></span>
        </label>
    </div>


    <div class="animalRadio-container">
        <h5>Dyr: </h5>

        <div class="cntr">
            <input type="radio" name="dyr" id="cbx5" class="hidden-xs-up"
                   value="ja" checked="@("ja" == _selectedDyr)" />
            <label for="cbx5" class="cbx"></label>
            <label for="cbx5" class="lbl">Ja</label>
        </div>

        <div class="cntr">
            <input type="radio" name="dyr" id="cbx6" class="hidden-xs-up"
                   value="nei" checked="@("nei" == _selectedDyr)" />
            <label for="cbx6" class="cbx"></label>
            <label for="cbx6" class="lbl">Nei</label>
        </div>
    </div>

    @if (_survey?.BAnimal != null)
    {
        <div id="animalInfo" class="animalInfo-container">
            <div class="animalData">
                <div class="form-floating mb-3">
                    <input id="pigghuder" class="form-control" value="@_survey.BAnimal.Pigghunder" />
                    <label for="pigghuder">Pigghuder</label>
                </div>

                <div class="form-floating mb-3">
                    <input id="krepsdyr" class="form-control" value="@_survey.BAnimal.Krepsdyr" />
                    <label for="krepsdyr">Krepsdyr</label>
                </div>

                <div class="form-floating mb-3">
                    <input id="skjell" class="form-control" value="@_survey.BAnimal.Skjell" />
                    <label for="skjell">Skjell</label>
                </div>

                <div class="form-floating mb-3">
                    <input id="borstemark" class="form-control" value="@_survey.BAnimal.Borstemark" />
                    <label for="borstemark">Børstemark</label>
                </div>
            </div>
        </div>

        <div class="form-floating mb-3 user-input" id="arter-container">
            <input class="form-control" id="arter" value="@_survey.BAnimal.Arter" />
            <label for="arter">Arter</label>
        </div>
    }

    @if (_survey?.Merknader != null)
    {
        <div class="form-floating mb-3 user-input">
            <input class="form-control" id="merknader" value="@_survey.Merknader" />
            <label for="merknader">Merknader</label>
        </div>
    }

</div>

@if (!string.IsNullOrWhiteSpace(_errorMessage))
{
    <div class="row justify-content-center">
        <div class="col-12 text-center alert alert-danger mb-2" style="width: 60%;">
            @_errorMessage
        </div>
    </div>
}


<div class="button-container">
    <button id="cancelBtn" class="custom-btn" style="display: none;" @onclick="BackToStationsPage">
        Avbryt
    </button>
    <button id="lastBtn" onclick="showLast()" class="custom-btn">Forrige</button>
    <button id="nextBtn" onclick="showNext()" class="custom-btn">Neste</button>
    <button id="editBtn" class="custom-btn" style="display: none;" @onclick="HandleEdit">Rediger</button>
</div>


@code {
    [Parameter]
    public Guid ProjectId { get; set; }
    [Parameter]
    public Guid StationId { get; set; }
    [Parameter]
    public Guid SurveyId { get; set; }

    private bool _initialized = false;

    private EditSurveyDto? _survey = new();

    private string? _selectedBunnType;
    private string? _selectedSensorisk;
    private string? _selectedDyr;

    private string? _errorMessage;
    
    protected override async Task OnInitializedAsync()
    {
        await LoadSurveyData();
        StateHasChanged();
    }
    
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender && !_initialized)
        {
            _initialized = true;
            await Task.Delay(300);
            await Js.InvokeVoidAsync("showDiv", 1);
        }
    }

    private async Task LoadSurveyData()
    {
        try
        {
            _survey = await Http.GetFromJsonAsync<EditSurveyDto>($"api/project/{ProjectId}/station/{StationId}/survey/{SurveyId}");
            if (_survey == null)
            {
                _errorMessage = "Cannot find the survey in the database.";
                StateHasChanged();
                return;
            }
            
            if (_survey?.BlotbunnId != null)
                _selectedBunnType = "blot";
            else if (_survey?.HardbunnId != null)
                _selectedBunnType = "hard";

            _selectedSensorisk = _survey?.SensoriskId != null ? "ja" : "nei";
            _selectedDyr = _survey?.DyrId != null ? "ja" : "nei";

            StateHasChanged();
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
    }

    private void BackToStationsPage()
    {
        Navigation.NavigateTo($"/project/{ProjectId:D}?tab=b_stations");
    }
    
    private void HandleEdit()
    {
        Navigation.NavigateTo($"/project/{ProjectId}/station/{StationId}/edit-survey/{SurveyId}");
    }
}


<script>
    let currentIndex = 1;
    const totalDivs = 3;

    function showDiv(index) {
        for (let i = 1; i <= totalDivs; i++) {
            document.getElementById('div' + i).classList.remove('active');
        }
        document.getElementById('div' + index).classList.add('active');
        updateButtons();

        setTimeout(() => {
            updateDisplay();
            updateDisplay_2();
        }, 100);
    }

    function showLast() {
        if (currentIndex > 1) {
            currentIndex--;
            showDiv(currentIndex);
        }
    }

    function showNext() {
        if (currentIndex < totalDivs) {
            currentIndex++;
            showDiv(currentIndex);
        }
    }

    function updateButtons() {
        const lastBtn = document.getElementById('lastBtn');
        const nextBtn = document.getElementById('nextBtn');
        const cancelBtn = document.getElementById('cancelBtn');
        const editBtn = document.getElementById('editBtn');

        lastBtn.style.display = currentIndex === 1 ? 'none' : 'inline-block';
        nextBtn.style.display = currentIndex === totalDivs ? 'none' : 'inline-block';
        cancelBtn.style.display = currentIndex === 1 ? 'inline-block' : 'none';
        editBtn.style.display = currentIndex === totalDivs ? 'inline-block' : 'none';
    }

    updateButtons();
    showDiv(currentIndex);
</script>
